---
import Layout from '../../layouts/Layout.astro';
import data from '../../../public/data.json';
import '../../../assets/scss/astro-ecommerce.scss';
import Navbar from '../../components/navbar';
import UpperNavbar from '../../components/store/upperNavbar';
import CardProduct from '../../components/products/cardProduct';
import ProductOverviewGrid from '../../components/products/productOverviewGrid';
import StoreDoubleColumn from '../../components/store/storeDoubleColumn';
import ReviewSummaryChart from '../../components/reviews/reviewSummaryChart';
import ApplePayLoader from "../applepay-loader.astro";

let product = data.products[0]

---

<script is:inline src="https://www.paypal.com/sdk/js?client-id=AeH0vEMSIJhmj8c9zEMii_Ftr_8Kvkhc72rSjW7Ri_vr3GorvmjWXxLBJnWDh-dpIpo_BH-S4fVqXec4&currency=USD&buyer-country=US&merchant-id=RZB8FGXVSK48S&components=applepay"></script>
<script is:inline src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>

<ApplePayLoader product={JSON.stringify(product)} />


<Layout title="Product Page">
    <main>
        <Navbar />
        <div class="container mt-5">
            <ProductOverviewGrid
                    features={product.features}
                    colors={product.colors}
                    images={product.images}
                    title={product.title}
                    full_description={product.full_description}
                    price={product.price}
                    highlights={product.highlights}
                    details={product.details}
                    rating={product.rating}
                    reviews={product.reviews}
                    sizes={product.sizes}
            />

            <div class="my-5">
                <ReviewSummaryChart reviews = {data.reviews} total_reviews={product.reviews} rating={product.rating}/>
            </div>

            <div class="row">
                <h5 class="mb-4">Customers also purchased</h5>
                {data.products.map(product =>
                        <div class="col-md-6 col-lg-3">
                            <CardProduct
                                    id={product.id}
                                    thumb_src = {product.thumb_src}
                                    thumb_alt = {product.thumb_alt}
                                    color = {product.color}
                                    title = {product.title}
                                    price = {product.price}
                                    position = "left"
                            />
                        </div>
                )}
            </div>
            <hr class="dark horizontal my-5" />
            <StoreDoubleColumn />
        </div>
    </main>

</Layout>
